<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>Livros</title>
</h:head>

<h:form id="frmTabelaLivros">
	<p:dataTable value="#{livrosBean.livros}" var="livro" id="tabelaLivros"
		paginator="true" rows="5">

		<f:facet name="header">Livros</f:facet>
		<p:column headerText="Título" sortBy="#{livro.titulo}"
			filterBy="#{livro.titulo}" filterMatchMode="startsWith">
			<h:outputText value="#{livro.titulo}" />
		</p:column>


		<p:column headerText="Preço" sortBy="#{livro.preco}">
			<h:outputText value="#{livro.preco}">
				<f:convertNumber type="currency" pattern="R$ #0.00"
					currencySymbol="R$" locale="pt_BR" />
			</h:outputText>
		</p:column>

		<p:column headerText="Páginas" sortBy="#{livro.numeroPaginas}">
			<h:outputText value="#{livro.numeroPaginas}" />
		</p:column>

		<p:column headerText="Autores">
			<ui:repeat value="#{livro.autores}" var="autor">
				<h:outputText value="#{autor.nome}, " />
			</ui:repeat>
		</p:column>

		<p:column headerText="Alterar">
			<h:commandLink value="alterar" action="#{livrosBean.carregar(livro)}"/>
		</p:column>

		<p:column headerText="Remover">
			<h:commandLink value="remover" action="#{livrosBean.remover(livro)}" />
		</p:column>

	</p:dataTable>
	<p:commandButton value="Exportar" action="#{livrosBean.gerarRelatorio}"/>
</h:form>

<h:form id="frmAlterarLivro">
	<p:messages id="messages" />

	<p:fieldset legend="Dados do Livro">
		<p:panelGrid columns="2">

			<p:outputLabel value="Titulo:" for="titulo" />
			<p:inputText id="titulo" value="#{livrosBean.livro.titulo}"
				required="true" requiredMessage="Título obrigatório"
				validatorMessage="Título não pode ser superior a 40">
				<f:validateLength maximum="40" />
				<f:ajax event="blur" render="messages" />
			</p:inputText>

			<p:outputLabel value="Descrição:" for="descricao" />
			<p:inputTextarea id="descricao" value="#{livrosBean.livro.descricao}" />

			<p:outputLabel value="Número de Páginas:" for="paginas" />
			<p:inputText id="paginas" value="#{livrosBean.livro.numeroPaginas}" />

			<p:outputLabel value="Preço:" for="preco" />
			<p:inputText id="preco" value="#{livrosBean.livro.preco}" />

		</p:panelGrid>

	</p:fieldset>

	<p:commandButton value="Salvar" action="#{livrosBean.atualizar}" 
		process="@form" update="@form :frmTabelaLivros:tabelaLivros" />

</h:form>
</html>
