<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Novo Livro</title>
</h:head>
<h:body>
	<h:form>
		<p:messages id="messages" />

		<p:fieldset legend="Dados do Livro">
			<p:panelGrid columns="2">

				<p:outputLabel value="Titulo:" for="titulo" />
				<p:inputText id="titulo" value="#{livrosBean.livro.titulo}"
					required="true" requiredMessage="Título obrigatório"
					validatorMessage="Título não pode ser superior a 40">
					<f:validateLength maximum="40" />
					<f:ajax event="blur" render="messages" />
				</p:inputText>

				<p:outputLabel value="Descrição:" for="descricao" />
				<p:inputTextarea id="descricao"
					value="#{livrosBean.livro.descricao}" />

				<p:outputLabel value="Número de Páginas:" for="paginas" />
				<p:inputText id="paginas" value="#{livrosBean.livro.numeroPaginas}" />

				<p:outputLabel value="Preço:" for="preco" />
				<p:inputText id="preco" value="#{livrosBean.livro.preco}" />

				<p:outputLabel value="Autores:" for="autores" />
				<p:selectCheckboxMenu id="autores" value="#{livrosBean.autoresId}"
					label="Autores" filter="true" filterMatchMode="startsWith"
					panelStyle="width:250px">
					<f:selectItems value="#{livrosBean.autores}" var="autor"
						itemValue="#{autor.id}" itemLabel="#{autor.nome}" />
				</p:selectCheckboxMenu>

			</p:panelGrid>

		</p:fieldset>

		<p:commandButton value="Salvar" action="#{livrosBean.salvar}" />

	</h:form>
</h:body>
</html>
